_data/
_data2/
GNN/runs
_test_data/
_demo_data/
myenv/
Embedding/venv
ProGraML/venv
Compiler/venv
Compiler/.env
ProGraML/vocabulary
GNN/venv
Inst2Vec/venv
Embedding_EVAL/venv
demo/venv
__pycache__/

ProGraML/vocabulary/vocabulary/cutoff_stmts.csv
ProGraML/vocabulary/vocabulary/cutoff_stmts_pickle
