_data/
GNN/runs
_test_data/
myenv/
Embedding/venv
ProGraML/venv
ProGraML/vocabulary
GNN/venv
Inst2Vec/venv
Embedding_EVAL/venv
__pycache__/

ProGraML/vocabulary/vocabulary/cutoff_stmts.csv
ProGraML/vocabulary/vocabulary/cutoff_stmts_pickle
